.titulo-app {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding-top: 7px;
}

.contenedor-principal {
  height: 100vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 35% 60%;
}

.contenedor-form {
  /* display: flex; */
  justify-content: center;
  padding-bottom: 15px;
  /* background-color: aquamarine; */
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}