@import "./index.css";

.contenedor {
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    @apply card bg-blue-100 h-25 w-60 shadow-2xl m-4 align-text-bottom;
    
    padding: 10px;

    h3 {
        font-weight: bold;
        font-size: large;
        margin-bottom: 15px;
    }

}